/* ========================= */
/* Configurações Gerais */
/* ========================= */

body {
    font-family: Arial, Helvetica, sans-serif;
}


/* ========================= */
/* Página de Login */
/* ========================= */


#div1 {
    text-align: center;
    margin-top: 220px;
}


#div2 {
    text-align: center;
    margin-top: 10px;
}


    #div3 {
    text-align: center;
    margin-top: -25px;
    }


    #btnLogin {
    margin-left: 168px;
}

/* ========================= */
/* Página de Cadastro */
/* ========================= */

#div4 {
    text-align: center;
    margin-top: 120px;
}

.campo {
    margin: -4px 0;
}

.campo label {
    display: inline-block;
    width: 170px;
    text-align: right;
    margin-right: 10px;
}

.campo input {
    width: 220px;
    padding: 5px;
}

    .botoes {
    display: flex;
    justify-content: space-between;
    width: 416px; /* ajuste conforme a largura do formulário */
    margin: 30px auto 0;
}



/* ========================= */
/* Página de recuperar */
/* ========================= */

    #div5 {
    text-align: center;
    margin-top: 120px;
    }   