/* ========================= */
/* Configurações Gerais */
/* ========================= */

body {
    font-family: Arial, Helvetica, sans-serif;
}


/* ========================= */
/* Página de Cadastro */
/* ========================= */

#div1 {
    text-align: center;
    margin-top: 220px;
}

#div2 {
    text-align: center;
    margin-top: 10px;
}


/* ========================= */
/* Página de Login */
/* ========================= */

#divLogin {
    text-align: center;
    margin-top: 120px;
}

#divLogin table {
    margin: auto;
    border-collapse: collapse;
}

#divLogin th,
#divLogin td {
    border: 1px solid black;
    padding: 10px 15px;
}

#divLogin h1 {
    margin-bottom: 30px;
}

#btnReturn {
    padding: 12px 25px;
    font-size: 16px;

    background-color: #0d6efd;
    color: white;

    border: none;
    border-radius: 12px;

    cursor: pointer;

    margin-top: 30px;
    transition: background-color 0.3s;
}

#btnReturn:hover {
    background-color: #0b5ed7;
}